ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
}

li {
  float: left;
  height: 56px;
}

li a {
  color: var(--background);
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  height: 56px;
  display: table-cell;
  vertical-align: middle;
}

li .logo {
  padding: 0;
}

li a:hover:not(.active) {
  background-color: var(--secondary);
}

.active {
  background-color: var(--background-secondary);
  color: var(--color) !important;
}
